body{
    background-color: #a605a6;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #000;
}
.menu{
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.viewport{
    width: 970px;
    margin: 0 auto;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    float: left;  
}
.menu ul li a{
    background-color: rgb(70, 210, 19);
    color : #FFF;
    margin: 0px 10px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: #000;
}