<%- include("../includes/header") %>

<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12">
            <h3>Contact Local Page</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quod expedita commodi dolorum corrupti veniam provident ab officia explicabo! Neque veniam nihil tempora hic corporis inventore assumenda ipsa impedit magni.</p>
        </div>
    </div>
</div>

<%- include("../includes/footer") %>