<%- include("../includes/header") %>

<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <form action="/emi/calculate" method="post">
            <div class="card border border-primary">
                <div class="card-header bg-primary">
                    <h3>EMI Calculator</h3>
                </div>
                <div class="card-body">
                    <div class="my-4">
                        <label class="fw-bold">Principle</label>
                        <input type="text" name="principle" class="form-control" />
                    </div>
                    <div class="my-4">
                        <label class="fw-bold">Rate of Interest</label>
                        <input type="text" name="rate" class="form-control" />
                    </div>
                    <div class="my-4">
                        <label class="fw-bold">Duration</label>
                        <select name="dur" class="form-control" >
                            <option>Year</option>
                            <% for(let i=5; i<=40; i++){ %>
                                <option><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="card-footer bg-primary">
                    <button type="submit" class="btn btn-dark">EMI</button>
                </div>
            </div>

            </form>
            
        </div>
    </div>
</div>

<%- include("../includes/footer") %>