<%- include("../includes/header") %>

<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <h3 class="text-center">Student</h3>
            <form action="/student/save" method="post">
                <div class="my-3">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" />
                </div>
                <div class="my-3">
                    <label>Age</label>
                    <input type="text" name="age" class="form-control" />
                </div>
                <div class="my-3">
                    <label>City</label>
                    <select name="city" class="form-control" >
                        <option>Select</option>
                        <option>Indore</option>
                        <option>Mumbai</option>
                        <option>Pune</option>
                    </select>
                </div>
                <input type="submit" value="Add" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>

<%- include("../includes/footer") %>