<!DOCTYPE html>
<html>
  <head>
    <title>Ministore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- script
    ================================================== -->
    <script src="/js/modernizr.js"></script>
  </head>
  <body>
     

  
    
    <header id="header" class="site-header text-black bg-light">
      <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="/images/main-logo.png" class="logo">
          </a>
          <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-icon">
              <use xlink:href="#navbar-icon"></use>
            </svg>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
              <a class="navbar-brand" href="index.html">
                <img src="/images/main-logo.png" class="logo">
              </a>
              <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
              <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link me-4" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/employee">Employee</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/employee/list">Employee List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/student">Student</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="/emi">EMI Calculator</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle me-4" data-bs-toggle="dropdown" href="#">Contact</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/contact/local">Local</a>
                    <a class="dropdown-item" href="/contact/global">Global</a>
                  </div>
                </li>
                
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    