<%- include("../include/header") %>

<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 fw-bold ">
            <div class="card">
                <div class="card-head text-center">
                    <h1>User </h1>
                </div>
                <div class="card-body ">
                    <form action="user/save" method="post">
                    <label>Full Name</label>
                    <input type="text" name="fullname" class="form-control">

                    <label>Email</label>
                    <input type="text" name="email" class="form-control">

                    <label>Contact</label>
                    <input type="text" name="contact" class="form-control">

                    <label>Gender</label>
                    <br>
                    Male:
                    <input type="radio" name="gender" value="male" class="form-check">
                    Female:
                    <input type="radio" name="gender" value="female" class="form-check">

                    <label>City</label>
                    <select name="city" class="form-control">
                        <option>Select</option>
                        <option>Indore</option>
                        <option>Mumbai</option>
                        <option>Delhi</option>
                        <option>Pune</option>

                    </select>
                
                    <button type="submit" class="btn btn-info text-center">Save</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>