<%- include("../includes/header") %>

        <div class="container my-5" style="min-height: 700px;">
            <div class="row">
                <div class="col-md-12">
                    <h3>About Page</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla id labore molestias rerum, dolor dolorem iure assumenda voluptatibus quos voluptas quia qui, nobis autem pariatur rem quaerat ratione velit corrupti.</p>

                </div>
            </div>
        </div>
<%- include("../includes/footer") %>